.home {
    height: 100vh;
    width: 100%;
    padding: 2.5rem;
    background-color: #1b1b1b;
    color: #fff;
}

.home_container {
    height: 100vh;
    width: 100%;
    display: flex;
}

.home_left {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_left h1 {
    font-size: 1.8rem;
    font-weight: 500;
}

.home_left h2 {
    font-size: 1.4rem;
    font-weight: 500;
}

.home_left .name_title {
    font-size: 2.1rem;
    font-weight: 600;
}

.home_left .profession_title {
    font-size: 1.4rem;
    color: #6672f7;
}

.home_left .cv {
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    background-color: #001b94;
    box-shadow:  0px 10px 40px -12px #001b94;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.4rem;
    transition: 0.5s ease;
}

.home_left .cv:hover {
    background-color: #01156e;
    color: #dfdede;
    box-shadow:  0px 10px 40px -12px #01156e;
}

.social_media {
    margin-top: 1.7rem;
    display: flex;
    justify-content: space-evenly;
    width: 12%;
}

.social_media a {
    color: white;
    box-shadow: 0px 10px 40px -12px #ffffff;
    transition: .3s;
}

.social_media a:hover {
    color: #1f44e9c1;
}

.home_right {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_animated_image {
    height: 72%;
    width: 72%;
    margin-bottom: 7.2rem;
    transition: 0.5s;
}

.home_animated_image:hover {
    scale: 1.1;
}

/*--Responsive--*/

@media (max-width: 909px) {

.home_animated_image {
    display: none;
}

.home_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_left {
    height: 100vh;
    width: 100%;
}

.home_left  h1 {
    text-align: center;
}

.home_left h2 {
    text-align: center;
}

.home_right {
    display: none;
}

}

@media (max-width: 495px) {

.home_left h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.home_left .profession_title {
    font-size: 1.2rem;
}

.home_left .name_title {
    font-size: 1.8rem;
}

.social_media {
    width: 17%;
}

}

@media (max-width: 438px) {

.home_left .name_title {
    font-size: 1.6rem;
}

.home_left .profession_title {
    font-size: 1.1rem;
}

}

@media (max-width: 399px) {

.home_left .name_title {
    font-size: 1.5rem;
}

.home_left .profession_title {
    font-size: 1rem;

}

}

@media (max-width: 380px) {

.home_left h1 {
    font-size: 1.5rem;
}

.home_left .name_title {
    font-size: 1.3rem;
}

.home_left h2 {
    font-size: 0.9rem;
}

.home_left .profession_title {
    font-size: 0.9rem;
}

.home_left .cv {
    font-size: 1.1rem;
}

.social_media {
    width: 20%;
}

}